div.table-wrapper {
    max-width: 100%;
    margin-right: 10rem;
    position: relative;

    div {
        margin-bottom: 2pt;
    }

    @include default-spaced();
}

div.table-wrapper.roll-table-wrapper > .rollme {
    position: relative;
    text-align: center;
}

table {
    max-width: 100%;
    margin: auto;
    border-spacing: 0;
    position: relative;
    // border: 1px solid $foreground-2;

    th, td {
        padding-left: 1ex;
        padding-right: 1ex;
        padding-top: 3pt;
        border: 1px solid $foreground-2;
        border-top-width: 0;
        border-left-width: 0;

        background-color: $background-0;
        transition: background-color 150ms;

        p {
            margin: 0;
        }

        &.active {
            background-color: $highlight-bg-rolled;
        }
    }

    tbody {
        white-space: nowrap;
    }

    tr td:first-child, tr th:first-child {
        border-left-width: 1px;
    }

    tbody tr:first-child * {
        border-top-width: 0;
    }

    thead tr th {
        border-top-width: 1px;
    }

    .rt {
        text-align: right;
    }

    &::before {
        position: absolute;
        top: 0;
        left: -2.5rem;
        font-family: $semimono-font;
        color: $foreground-1;
        font-style: italic;
        text-align: right;
    }
}