{% set id = name | slugify %}
{% set id = "rolltable-" ~ id ~ "-" ~ nth %}

<div class="table-wrapper roll-table-wrapper" data-rollable="true" data-roll-kind="table" data-roll-name="{{ name }}" id = "{{ id }}" data-roll-die="{{ results | length }}" data-roll-number="1">
    <div style="text-align: center;"><button class="rollme" title="Roll dice specification for the table '{{ name }}'." onclick="roll('{{ id }}')">1d{{ results | length }}</button></div>
    <table class="d{{ results | length }}">
        <thead>
            <tr>
                <th> On </th>
                <th> {% if resultname %}{{ resultname }}{% else %}Result{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td class="rt" data-roll-on="{{ loop.index }}"> {{ loop.index }} </td>
                <td data-roll-result="{{ loop.index }}"> {{ result | markdown | safe }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>