{% import "macros.html" as macros %}

{% set_global sidenotecounter = 1 %}
{% set_global rollcounter = 1 %}

<!DOCTYPE html>
<html lang="en">

{% if page.taxonomies.tags %}
{% set keywords = page.taxonomies.tags %}
{% else %}
{% set keywords = [] %}
{% endif %}
{% set keywords = keywords | concat(with=config.extra.default_keywords) %}

<head>
    <meta charset="utf-8">
    <meta name="author" content="{{ config.extra.author }}">
    {% if current_path and current_path == "/" %}<meta name="description" content="{{ config.description | striptags | trim_end }}">
    {% elif page.description %}<meta name="description" content="{{ page.description | markdown | striptags | trim_end }}">{% endif %}
    <meta name="keywords" content="{{ keywords | unique | join(sep=", ") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet">
    <link href="/mobile.css" rel="stylesheet" media="screen and (max-width: 1024px)">
    <title>{% block title %}{% endblock %} | {{ config.title }}</title>

    <script type="text/javascript" async src="/everywhere.js"></script>
    {% if page.extra.script %}<script type="text/javascript" async src="{{ page.path }}{{ page.extra.script }}"></script>{% endif %}
    {% if page.extra.style %}<link href="{{ page.path }}{{ page.extra.style }}" rel="stylesheet">{% endif %}
</head>

<body>
    <nav id='page-nav'>
        <div id='page-nav-inner'>
            <a href="/"> Home </a>
            <span class="stretch">&nbsp;</span>
            <a href="/blog"> Blog </a>
        </div>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer id="footer">
        <button onclick="toggleToolbox()" id="toggle-button" title="Show or hide the toolbox.">Tools</button>
        <div id="toolbox">
            <div id="toolbox-inner">
                <div id="toolbox-dice-options"></div>
                <button id="toolbox-roll-button" onclick="rollToolbox()">1d20</button>
                <table id="toolbox-roll-results">
                    <tr> <td>roll:</td> <td id="toolbox-result"> </td> </tr>
                    <tr> <td>min:</td>  <td id="toolbox-result-min"> </td> </tr>
                    <tr> <td>max:</td>  <td id="toolbox-result-max"> </td> </tr>
                    <tr> <td>sum:</td>  <td id="toolbox-result-sum"> </td> </tr>
                </table>
            </div>
        </div>
    </footer>
</body>

</html>